body {
  margin: 0;
  padding: 0;
  min-width: 1280px;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(129, 179, 210, 0.8);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 -10px 20px 10px #b8b8b8;
}



/*=============================*/
/*==Модальное окно==*/
/*=============================*/


/*=============================*/
/*== END Модальное окно==*/
/*=============================*/



/*=====================================*/
/*==Списки: инфраструктура, тип жилья==*/
/*=====================================*/



/*==========================================*/
/*== END Списки: инфраструктура, тип жилья==*/
/*==========================================*/

/*=====================*/
/*==Стоимость в сутки==*/
/*=====================*/



/*==========================*/
/*== END Стоимость в сутки==*/
/*==========================*/



/*===========*/
/*== Футер ==*/
/*===========*/



/*===============*/
/*== END Футер ==*/
/*===============*/